<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_osteoartrite">
        <activity
            android:name=".Classificacao_dor"
            android:exported="false" />
        <activity
            android:name=".Grafico_dor"
            android:exported="false" />
        <activity
            android:name=".Registre_dor"
            android:exported="false" />
        <activity
            android:name=".acessibilidade"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".registro_diagnostico"
            android:exported="false" />
        <activity
            android:name=".tela_inicial"
            android:exported="false" />
        <activity
            android:name=".cadastro_paciente"
            android:exported="false" />
        <activity
            android:name=".alterar_senha"
            android:exported="false" />
        <activity
            android:name=".tela_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registrar_Sintoma"
            android:exported="false" />
        <activity
            android:name=".Conta"
            android:exported="false" />
        <activity
            android:name=".Informacoes"
            android:exported="false" />
        <activity
            android:name=".Nivel_dor"
            android:exported="false" />
        <activity
            android:name=".AcompanhamentoSintomasActivity"
            android:exported="false" />
        <activity
            android:name=".Atividades_diarias"
            android:exported="false" />
    </application>

</manifest>